body {
    margin: 0;
}

ul {
    text-align: center;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mapboxgl-canvas-container {
    /* cursor: -webkit-grab; */
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mapboxgl-interactive {
    /* cursor: -webkit-grab; */
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}