body {
    margin: 0;
}

ul {
    text-align: center;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mapboxgl-canvas-container {
    /* cursor: -webkit-grab; */
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mapboxgl-interactive {
    /* cursor: -webkit-grab; */
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::ng-deep [nz-carousel-content] {
    text-align: center;
   
    background: black;
    color: red;
    overflow: hidden;
    display: flex;
    align-items: center
}

::ng-deep .ant-drawer-right{
    width: auto !important;
}


::ng-deep nz-carousel {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}